<div class="department-update-container">
  <h1 class="form-title">Update Department</h1>

  <form
    [formGroup]="departmentForm"
    (ngSubmit)="updateDepartment()"
    class="update-form"
  >
    <div class="form-group">
      <input
        type="text"
        id="dept"
        formControlName="dept"
        required
        placeholder="Enter department name"
      />
      <div
        *ngIf="
          departmentForm.get('dept')?.invalid &&
          departmentForm.get('dept')?.touched
        "
      >
        <small class="error-text">Department is required.</small>
      </div>
    </div>

    <div class="form-actions">
      <button
        type="submit"
        class="save-btn"
        [disabled]="departmentForm.invalid"
      >
        Save Changes
      </button>
    </div>
  </form>
</div>
