<div class="reset-password-container">
  <h2>Reset Your Password</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="password">New Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
      />
      <div
        *ngIf="
          resetPasswordForm.get('password')?.invalid &&
          resetPasswordForm.get('password')?.touched
        "
      >
        <small *ngIf="resetPasswordForm.get('password')?.errors?.['required']"
          >Password is required.</small
        >
        <small *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']"
          >Password must be at least 8 characters long.</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
        class="form-control"
      />
      <div
        *ngIf="
          resetPasswordForm.get('confirmPassword')?.invalid &&
          resetPasswordForm.get('confirmPassword')?.touched
        "
      >
        <small
          *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']"
          >Confirm password is required.</small
        >
        <small *ngIf="resetPasswordForm.errors?.['mismatch']"
          >Passwords do not match.</small
        >
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="resetPasswordForm.invalid"
    >
      Reset Password
    </button>
  </form>

  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>
</div>
