h1 {
  font-family: 'Roboto', sans-serif;
  color: #000000;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  position: relative;
}

h1::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #3f51b5;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-in-out;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.reset-password-container {
  width: 100%;
  max-width: 400px; /* Limit the form width */
  margin: 50px auto; /* Center the form horizontally */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  border-radius: 8px; /* Rounded corners */
  font-family: 'Arial', sans-serif;
}

h2 {
  text-align: center;
  color: #3f51b5;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
}

.form-control {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
  border-color: #3f51b5;
  box-shadow: 0 0 5px rgba(63, 81, 181, 0.5);
}

button {
  width: 100%;
  padding: 12px;
  background-color: #3f51b5;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #2c3e50
}
