<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container">
    <a [routerLink]="'/'" class="navbar-brand fw-bold">⚡ EMS ⚡</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="isLoggedIn() && isRole('Admin')">
          <a [routerLink]="'/'" routerLinkActive="active" class="nav-link"
            >Employees</a
          >
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a
            [routerLink]="'/department-list'"
            routerLinkActive="active"
            class="nav-link"
            >Department</a
          >
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a
            [routerLink]="'/designation-list'"
            routerLinkActive="active"
            class="nav-link"
            >Designation</a
          >
        </li>
        <li class="nav-item" *ngIf="isLoggedIn() && isRole('Admin')">
          <a
            [routerLink]="'/attendance-list'"
            routerLinkActive="active"
            class="nav-link"
            >Attendance</a
          >
        </li>
        <li class="nav-item" *ngIf="isLoggedIn() && isRole('Admin')">
          <a
            [routerLink]="'/log-list'"
            routerLinkActive="active"
            class="nav-link"
            >Logs</a
          >
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a [routerLink]="'/login'" routerLinkActive="active" class="nav-link"
            >Login</a
          >
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a
            [routerLink]="'/register'"
            routerLinkActive="active"
            class="nav-link"
            >Register</a
          >
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <button class="btn btn-link nav-link" (click)="logout()">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
