<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container">
    <!-- Logo -->
    <a [routerLink]="'/'" class="navbar-brand fw-bold">⚡ EMS ⚡</a>

    <!-- Mobile Toggle Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a [routerLink]="'/'" routerLinkActive="active" class="nav-link"
            >Employees</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="'/department-list'"
            routerLinkActive="active"
            class="nav-link"
            >Department</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="'/designation-list'"
            routerLinkActive="active"
            class="nav-link"
            >Designation</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="'/attendance-list'"
            routerLinkActive="active"
            class="nav-link"
            >Attendance</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="'/log-list'"
            routerLinkActive="active"
            class="nav-link"
            >Logs</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
