<div class="department-add-container">
<h1 class="form-title">Add Department</h1>

  <form [formGroup]="departmentForm" (ngSubmit)="addDepartment()" class="department-form">
    <div class="form-group">

      <input
        type="text"
        id="dept"
        formControlName="dept"
        placeholder="Enter department name"
        required
      />
      <div *ngIf="departmentForm.get('dept')?.invalid && departmentForm.get('dept')?.touched">
        <small class="error-text">Department is required.</small>
      </div>
    </div>

     <div class="form-actions">
      <button type="submit" class="save-btn" [disabled]="departmentForm.invalid">Save Changes</button>
      <button type="button" class="cancel-btn" (click)="cancelDepartment()">Cancel</button>
    </div>
  </form>
</div>
