<h1>Employee Management</h1>
<div *ngIf="loading" class="loading-container">
  <p>Loading...</p>
</div>

<div *ngIf="!loading && employees.length === 0" class="empty-state">
  <p>No employees found. <a [routerLink]="'/employee-add'">Add New</a></p>
</div>

<div *ngIf="!loading && employees.length > 0" class="employee-list">
  <div class="action-buttons">
    <a [routerLink]="'/employee-add'" class="add-employee-btn">Add Employee</a>
    <button (click)="exportToCSV()" class="download-btn">Download CSV</button>
    <button (click)="exportToExcel()" class="download-btn">
      Download Excel
    </button>
  </div>

  <table class="employee-table">
    <thead>
      <tr>
        <th
          (click)="sortEmployees('id')"
          [ngClass]="{
            sorted: sortKey === 'id',
            ascending: sortKey === 'id' && sortDirection,
            descending: sortKey === 'id' && !sortDirection
          }"
        >
          ID
        </th>
        <th
          (click)="sortEmployees('firstName')"
          [ngClass]="{
            sorted: sortKey === 'firstName',
            ascending: sortKey === 'firstName' && sortDirection,
            descending: sortKey === 'firstName' && !sortDirection
          }"
        >
          First Name
        </th>
        <th
          (click)="sortEmployees('lastName')"
          [ngClass]="{
            sorted: sortKey === 'lastName',
            ascending: sortKey === 'lastName' && sortDirection,
            descending: sortKey === 'lastName' && !sortDirection
          }"
        >
          Last Name
        </th>
        <th
          (click)="sortEmployees('email')"
          [ngClass]="{
            sorted: sortKey === 'email',
            ascending: sortKey === 'email' && sortDirection,
            descending: sortKey === 'email' && !sortDirection
          }"
        >
          Email
        </th>

        <th>Phone</th>
        <th>Address</th>
        <th>DOB</th>
        <th>Dept</th>
        <th>Desig</th>
        <th>Attendance</th>
        <th>Logs</th>
        <th>AT-Logs</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let employee of paginatedEmployees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.address }}</td>
        <td>{{ employee.dateOfBirth | date }}</td>
        <td>{{ getDepartmentName(employee.departmentId) }}</td>
        <td>{{ getDesignationName(employee.designationId) }}</td>
        <td>
          <button
            [routerLink]="['/attendance-user', employee.id]"
            class="attendance-btn"
          >
            <i class="fas fa-calendar-check"></i> Attendance
          </button>
        </td>
        <td>
          <button [routerLink]="['/log-user', employee.id]" class="logs-btn">
            <i class="fas fa-file-alt"></i> Logs
          </button>
        </td>
        <td>
          <button
            [routerLink]="['/log-attendance', employee.id]"
            class="logs-btn"
          >
            <i class="fas fa-file-alt"></i> AT-Logs
          </button>
        </td>
        <td>
          <button
            [routerLink]="['/employee-update', employee.id]"
            class="update-btn"
          >
            <i class="fas fa-edit"></i> Edit
          </button>
          <button (click)="deleteEmployee(employee.id)" class="delete-btn">
            <i class="fas fa-trash"></i> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="employees.length > itemsPerPage" class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">
      Previous
    </button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Next
    </button>
  </div>
</div>
