<div class="designation-add-container">
 <h1 class="form-title">Add Designation</h1>

  <form [formGroup]="designationForm" (ngSubmit)="addDesignation()" class="designation-form">
    <div class="form-group">
      <input
        type="text"
        id="role"
        formControlName="role"
        placeholder="Enter designation role"
        required
      />
      <div *ngIf="designationForm.get('role')?.invalid && designationForm.get('role')?.touched">
        <small class="error-text">Role is required.</small>
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" class="save-btn" [disabled]="designationForm.invalid">Save Changes</button>
      <button type="button" class="cancel-btn" (click)="cancelDesignation()">cancel</button>
    </div>
  </form>
</div>
